@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Poppins:wght@200;300;400;500;600&family=Varela+Round&display=swap");
/*color*/
$hover-red: rgb(202, 82, 82);
$light-blue: #20afff;
$contrast-blue: #3354ff;

@mixin for-tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin for-laptop {
  @media (min-width: 990px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 2000px;
  transition: all 0.3s linear;
}

h3 {
  padding: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  color: $light-blue;
  z-index: 100;
}
.container {
  overflow: hidden;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 5;

  .logo {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: fit-content;
  }
  .switch_container {
    display: flex;
    align-items: center;
    z-index: 2;
    color: $light-blue;
    position: sticky;
    cursor: pointer;
    h3 {
      width: fit-content;
    }
    .menu-icon {
      position: absolute;
      right: 1em;
      svg {
        font-size: 1.2rem;
      }
    }
  }

  ul {
    padding: 0;
    width: 250px;

    li {
      font-family: "Poppins", sans-serif;
      list-style: none;
      font-size: 1.2rem;
      padding: 20px;
      padding-left: 5px;
      cursor: pointer;
      span {
        color: $light-blue;
        opacity: 0;
      }
      a {
        color: $light-blue;
        text-decoration: none;
      }
    }
    li:hover {
      color: $light-blue;
      opacity: 1;
      transform: translateY(-3px);
      transition-duration: 0.5s;
      span {
        opacity: 1;
      }
    }
  }
}

.box-shadow_nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.inactive {
  display: none;
}
ul.active {
  display: initial;
}

.header {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .hero_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 200px;

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin: 0;
      width: 100%;
      margin-top: 20px;
      text-align: left;
      color: $contrast-blue;

      span {
        font-size: 25px;
        font-weight: 500;
        color: $light-blue;
      }
    }
    .title {
      h1,
      h2 {
        font-family: "Poppins", sans-serif;
        text-align: left;
        font-weight: 500;
        //  text-align: center;
        font-size: 25px;
      }
      h2 {
        font-weight: 300;
        opacity: 0.8;
        font-size: 18px;
        padding-top: 10px;
      }
      .hero_options {
        display: flex;
        padding-top: 30px;
        button,
        .call_btn {
          width: fit-content;
          font-size: 1rem;
          margin-bottom: 30px;
          background-color: transparent;
          color: $light-blue;
          border: 1px solid $light-blue;
          font-family: "Poppins", sans-serif;
          padding: 10px;
          font-weight: 400;
          letter-spacing: 1px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
        }
        button:hover {
          opacity: 1;
          box-shadow: 5px 5px lightblue;
          transform: translateY(-4px);
          transition-duration: 0.5s;
        }
        .call_btn {
          background-color: aliceblue;
          margin-left: 10px;
          border: $light-blue solid 1px;
        }
      }
    }
    .project_summary {
      display: flex;
      align-items: center;
      flex-direction: column;
      .project_summary_container {
        display: none;
      }
      h1 {
        padding: 20px;
        font-weight: 500;
        text-align: center;
        font-size: 1.7rem;
      }
      button {
        width: fit-content;
        font-size: 1rem;
        background-color: $light-blue;

        color: #fafafc;
        border: none;
        font-family: "Varela Round", sans-serif;
        padding: 1em;
        font-weight: 400;
        letter-spacing: 1px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
      }
      button:hover {
        opacity: 1;
        box-shadow: 5px 5px lightblue;
        transform: translateY(-4px);
        transition-duration: 0.5s;
      }
    }
  }
}

.project_section,
.about_section,
.services_section,
.contact_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;

  h1 {
    font-family: "Poppins", sans-serif;
    padding: 30px;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow: hidden;
    max-width: 350px;
    height: 300px;
    background-image: linear-gradient(#f3f7fa, white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  .overlay {
    position: absolute;
    transition: 0.1s ease-in-out;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    //border-right: 4px solid rgb(202, 82, 82);
    background-image: linear-gradient($light-blue, #cec9fe);
    display: flex;
    flex-direction: column;
    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      padding: 0;
      text-align: left;
      font-weight: 500;
      padding-bottom: 0;
      color:black;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      font-weight: 400;
      width: 100%;
      opacity: .8;
      text-align: left;
      margin-bottom: 10px;
      span {
        color: $contrast-blue;
      }
    }
    button {
      font-size: 15px;
      width: fit-content;
      background-color: $contrast-blue;
      // background-color: transparent;
      // border: 1px solid $ac-blue;
      opacity: 0.8;
      margin-top: 5px;
      border: none;
      font-family: "Varela Round", sans-serif;
      padding: 5px 10px;
      font-weight: 400;
      letter-spacing: 1px;
      border-radius: 5px;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 20px;

      a {
        color: #f3f7fa;
        text-decoration: none;
      }
    }
    button:hover {
      opacity: 1;
      transform: translateY(-4px);
      transition-duration: 0.5s;
    }
  }

  .project:hover .overlay {
    opacity: 1;
  }

  .overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    backdrop-filter: saturate(70%) blur(30px);
    color: black;
  }

  .project:hover .overlayLeft {
    width: 100%;
  }
}

.about_section {
  padding-left: 5%;
  padding-right: 5%;
  h2 {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    font-family: "Poppins", sans-serif;

    span {
      color: $contrast-blue;
    }
  }
  .tech_container {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    .tech_img_container {
      width: 80px;
      height: 80px;
      margin: 10px;
      background-image: linear-gradient(#f3f7fa, white);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 40px;
      }
    }
    .tech_img_container:hover {
      img {
        transform: scale(1.2);
        transition: all ease 0.3s;
      }
    }
  }
  .socials_container {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    h1 {
      margin-top: 30px;
    }
    .socials_ac {
      display: flex;
      flex-direction: column;
      height: 200px;

      justify-content: space-around;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $light-blue;
        svg {
          font-size: 30px;
          margin-right: 10px;
        }
      }
      a:hover {
        color: $contrast-blue;
      }
    }
  }
  .experience {
    position: relative;
    height: 200px;
    max-width: 350px;

    .exp_content {
      border-radius: 3px;
      background-image: linear-gradient(#f3f7fa, white);
      color: black;
      padding: 10px 10px;
      height: fit-content;
      min-height: 130px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      h1,
      h2 {
        font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0;
      }
      h1 {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 500;
      }
      h2 {
        font-size: 13px;
        font-weight: 300;
        margin-top: 5px;
      }
    }

    h3 {
      position: absolute;
      bottom: 20px;
      font-weight: 500;
      font-size: 1.1rem;
      opacity: 0.8;
      right: 3px;
      padding-right: 0;
    }
  }
  .experience:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: calc(50% + 6px);
    z-index: -9;
    width: 3px;
    background-color: $light-blue;
  }
  .experience:after {
    content: "";
    border-radius: 50%;
    background-color: #f3f7fa;
    position: absolute;
    border: 5px solid $light-blue;
    left: 50%;
    height: 5px;
    bottom: 0;
    width: 5px;
    animation: blinker 3s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

$n: 15;
$s: 300;

$shadow: ();

.project_section {
  .star {
    width: 1px;
    height: 1px;
    background: transparent;
  }

  @for $i from 1 through $s {
    $x: random(1920);
    $y: random(1000);
    $shadow: $shadow, ($x + px $y + px #fff) !global;
  }

  @for $i from 1 through $n {
    $v: random(90) + 9; // left
    $h: random(250) + 50; // top
    $d: random(70) / 10 + 3; // 秒數
    .meteor-#{$i} {
      position: absolute;
      top: $h + px;
      left: $v * 1%;
      width: 300px;
      height: 1px;
      transform: rotate(-45deg);
      background-image: linear-gradient(
        to right,
        $light-blue,
        rgba(255, 255, 255, 0)
      );
      animation: meteor $d + s linear infinite;
      &:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 5px;
        border-radius: 50%;
        margin-top: -2px;
        background: rgba($light-blue, 0.7);
        box-shadow: 0 0 15px 3px $light-blue;
      }
    }
  }

  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

.services_section {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  .services_wrapper {
    margin: 80px auto;
    width: 320px;
    height: 250px;
    position: relative;
    perspective: 1000px;

    .services_container {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transform: rotateY(-360deg) translateZ(-300px);
      animation: animate 30s steps(10000, end) infinite;
      .services_item {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 300px;
        height: 150px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          font-family: "Poppins", sans-serif;
          font-size: 0.8rem;
          background-color: $light-blue;
          flex: 1;
          height: 100%;
          width: fit-content;
          color: white;
          text-align: center;
          padding: 30px 10px;
          text-align: center;
          padding-top: 55px;
          border-radius: 0 0 20px;
        }
        h2 {
          font-family: "Poppins", sans-serif;
          flex: 1;
          font-size: 0.8rem;
          font-weight: 400;
          padding: 10px;
          color: #1e1b1b;
          justify-items: center;
          align-items: center;
        }
      }
      .services_item_0 {
        transform: rotateY(0deg) translateZ(300px);
      }
      .services_item_1 {
        transform: rotateY(60deg) translateZ(300px);
      }
      .services_item_2 {
        transform: rotateY(120deg) translateZ(300px);
      }
      .services_item_3 {
        transform: rotateY(180deg) translateZ(300px);
      }
      .services_item_4 {
        transform: rotateY(240deg) translateZ(300px);
      }
      .services_item_5 {
        transform: rotateY(300deg) translateZ(300px);
      }

      @keyframes animate {
        from {
          transform: rotateY(-360deg);
        }
        to {
          transform: rotateY(0deg);
        }
      }
    }
  }
}

.contact_section {
  padding-bottom: 50px;
  flex-direction: column;

  h2,
  h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding: 5%;
    span,
    a {
      color: $contrast-blue;
    }
  }

  h4 {
    font-size: 1rem;
    margin-top: 20px;
  }
}

@include for-laptop {
  .container {
    overflow: hidden;
  }
  nav {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .switch_container {
      .menu-icon {
        display: none;
      }
    }
  }
  ul.active,
  ul.inactive {
    display: flex;
    z-index: 10;
    width: fit-content;
  }

  .header,
  .project_section,
  .about_section {
    padding-left: 20%;
    padding-right: 20%;
  }
  .project_section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header {
    flex-direction: row;
    .hero_description {
      align-items: flex-start;
      margin-top: 50px;
      .title {
        h1,
        h2 {
          padding-top: 0;
          text-align: left;
          font-weight: 500;
          //  text-align: center;
          // font-size: 25px;
        }
        h2 {
          font-weight: 400;
          opacity: 0.8;
        }
        .hero_options {
          display: flex;
          padding: 20px;
          padding-left: 0;
          justify-content: flex-start;
          align-items: flex-start;
          position: absolute;
        }
      }
    }
  }
  .about_section {
    flex-wrap: wrap;
    .title_container {
      width: 100%;
    }
    .left {
      flex: 2;
      padding-right: 30px;
      align-self: flex-start;
      margin-top: 30px;
      .description_container {
        margin-right: 50px;
      }
      .tech_container,
      .socials_container {
        justify-content: flex-start;
        h1 {
          text-align: left;
          padding-left: 0;
        }
      }
    }
    .experience_container {
      h1 {
        text-align: left;
      }
    }
  }
}
