@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Poppins:wght@200;300;400;500;600&family=Varela+Round&display=swap");
/*color*/
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 2000px;
  transition: all 0.3s linear;
}

h3 {
  padding: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  color: #20afff;
  z-index: 100;
}

.container {
  overflow: hidden;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 5;
}
nav .logo {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
nav .switch_container {
  display: flex;
  align-items: center;
  z-index: 2;
  color: #20afff;
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
}
nav .switch_container h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
nav .switch_container .menu-icon {
  position: absolute;
  right: 1em;
}
nav .switch_container .menu-icon svg {
  font-size: 1.2rem;
}
nav ul {
  padding: 0;
  width: 250px;
}
nav ul li {
  font-family: "Poppins", sans-serif;
  list-style: none;
  font-size: 1.2rem;
  padding: 20px;
  padding-left: 5px;
  cursor: pointer;
}
nav ul li span {
  color: #20afff;
  opacity: 0;
}
nav ul li a {
  color: #20afff;
  text-decoration: none;
}
nav ul li:hover {
  color: #20afff;
  opacity: 1;
  transform: translateY(-3px);
  transition-duration: 0.5s;
}
nav ul li:hover span {
  opacity: 1;
}

.box-shadow_nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.inactive {
  display: none;
}

ul.active {
  display: initial;
}

.header {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.header .hero_description {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 200px;
}
.header .hero_description h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  width: 100%;
  margin-top: 20px;
  text-align: left;
  color: #3354ff;
}
.header .hero_description h1 span {
  font-size: 25px;
  font-weight: 500;
  color: #20afff;
}
.header .hero_description .title h1,
.header .hero_description .title h2 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
}
.header .hero_description .title h2 {
  font-weight: 300;
  opacity: 0.8;
  font-size: 18px;
  padding-top: 10px;
}
.header .hero_description .title .hero_options {
  display: flex;
  padding-top: 30px;
}
.header .hero_description .title .hero_options button,
.header .hero_description .title .hero_options .call_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  margin-bottom: 30px;
  background-color: transparent;
  color: #20afff;
  border: 1px solid #20afff;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.header .hero_description .title .hero_options button:hover {
  opacity: 1;
  box-shadow: 5px 5px lightblue;
  transform: translateY(-4px);
  transition-duration: 0.5s;
}
.header .hero_description .title .hero_options .call_btn {
  background-color: aliceblue;
  margin-left: 10px;
  border: #20afff solid 1px;
}
.header .hero_description .project_summary {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .hero_description .project_summary .project_summary_container {
  display: none;
}
.header .hero_description .project_summary h1 {
  padding: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 1.7rem;
}
.header .hero_description .project_summary button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  background-color: #20afff;
  color: #fafafc;
  border: none;
  font-family: "Varela Round", sans-serif;
  padding: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.header .hero_description .project_summary button:hover {
  opacity: 1;
  box-shadow: 5px 5px lightblue;
  transform: translateY(-4px);
  transition-duration: 0.5s;
}

.project_section,
.about_section,
.services_section,
.contact_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.project_section h1,
.about_section h1,
.services_section h1,
.contact_section h1 {
  font-family: "Poppins", sans-serif;
  padding: 30px;
  font-weight: 400;
  font-size: 25px;
  width: 100%;
  text-align: center;
}
.project_section .project,
.about_section .project,
.services_section .project,
.contact_section .project {
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
  max-width: 350px;
  height: 300px;
  background-image: linear-gradient(#f3f7fa, white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.project_section .overlay,
.about_section .overlay,
.services_section .overlay,
.contact_section .overlay {
  position: absolute;
  transition: 0.1s ease-in-out;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-image: linear-gradient(#20afff, #cec9fe);
  display: flex;
  flex-direction: column;
}
.project_section .overlay h1,
.about_section .overlay h1,
.services_section .overlay h1,
.contact_section .overlay h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 0;
  text-align: left;
  font-weight: 500;
  padding-bottom: 0;
  color: black;
  margin-bottom: 10px;
  opacity: 0.8;
}
.project_section .overlay h2,
.about_section .overlay h2,
.services_section .overlay h2,
.contact_section .overlay h2 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  opacity: 0.8;
  text-align: left;
  margin-bottom: 10px;
}
.project_section .overlay h2 span,
.about_section .overlay h2 span,
.services_section .overlay h2 span,
.contact_section .overlay h2 span {
  color: #3354ff;
}
.project_section .overlay button,
.about_section .overlay button,
.services_section .overlay button,
.contact_section .overlay button {
  font-size: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3354ff;
  opacity: 0.8;
  margin-top: 5px;
  border: none;
  font-family: "Varela Round", sans-serif;
  padding: 5px 10px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.project_section .overlay button a,
.about_section .overlay button a,
.services_section .overlay button a,
.contact_section .overlay button a {
  color: #f3f7fa;
  text-decoration: none;
}
.project_section .overlay button:hover,
.about_section .overlay button:hover,
.services_section .overlay button:hover,
.contact_section .overlay button:hover {
  opacity: 1;
  transform: translateY(-4px);
  transition-duration: 0.5s;
}
.project_section .project:hover .overlay,
.about_section .project:hover .overlay,
.services_section .project:hover .overlay,
.contact_section .project:hover .overlay {
  opacity: 1;
}
.project_section .overlayLeft,
.about_section .overlayLeft,
.services_section .overlayLeft,
.contact_section .overlayLeft {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: saturate(70%) blur(30px);
          backdrop-filter: saturate(70%) blur(30px);
  color: black;
}
.project_section .project:hover .overlayLeft,
.about_section .project:hover .overlayLeft,
.services_section .project:hover .overlayLeft,
.contact_section .project:hover .overlayLeft {
  width: 100%;
}

.about_section {
  padding-left: 5%;
  padding-right: 5%;
}
.about_section h2 {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
.about_section h2 span {
  color: #3354ff;
}
.about_section .tech_container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.about_section .tech_container .tech_img_container {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-image: linear-gradient(#f3f7fa, white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_section .tech_container .tech_img_container img {
  width: 40px;
}
.about_section .tech_container .tech_img_container:hover img {
  transform: scale(1.2);
  transition: all ease 0.3s;
}
.about_section .socials_container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.about_section .socials_container h1 {
  margin-top: 30px;
}
.about_section .socials_container .socials_ac {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}
.about_section .socials_container .socials_ac a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #20afff;
}
.about_section .socials_container .socials_ac a svg {
  font-size: 30px;
  margin-right: 10px;
}
.about_section .socials_container .socials_ac a:hover {
  color: #3354ff;
}
.about_section .experience {
  position: relative;
  height: 200px;
  max-width: 350px;
}
.about_section .experience .exp_content {
  border-radius: 3px;
  background-image: linear-gradient(#f3f7fa, white);
  color: black;
  padding: 10px 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 130px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.about_section .experience .exp_content h1,
.about_section .experience .exp_content h2 {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
.about_section .experience .exp_content h1 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}
.about_section .experience .exp_content h2 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}
.about_section .experience h3 {
  position: absolute;
  bottom: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0.8;
  right: 3px;
  padding-right: 0;
}
.about_section .experience:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: calc(50% + 6px);
  z-index: -9;
  width: 3px;
  background-color: #20afff;
}
.about_section .experience:after {
  content: "";
  border-radius: 50%;
  background-color: #f3f7fa;
  position: absolute;
  border: 5px solid #20afff;
  left: 50%;
  height: 5px;
  bottom: 0;
  width: 5px;
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite;
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.project_section .star {
  width: 1px;
  height: 1px;
  background: transparent;
}
.project_section .meteor-1 {
  position: absolute;
  top: 60px;
  left: 75%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.5s linear infinite;
          animation: meteor 5.5s linear infinite;
}
.project_section .meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-2 {
  position: absolute;
  top: 286px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.4s linear infinite;
          animation: meteor 5.4s linear infinite;
}
.project_section .meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-3 {
  position: absolute;
  top: 282px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 3.7s linear infinite;
          animation: meteor 3.7s linear infinite;
}
.project_section .meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-4 {
  position: absolute;
  top: 289px;
  left: 38%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.7s linear infinite;
          animation: meteor 4.7s linear infinite;
}
.project_section .meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-5 {
  position: absolute;
  top: 201px;
  left: 46%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.1s linear infinite;
          animation: meteor 4.1s linear infinite;
}
.project_section .meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-6 {
  position: absolute;
  top: 148px;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.7s linear infinite;
          animation: meteor 5.7s linear infinite;
}
.project_section .meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-7 {
  position: absolute;
  top: 278px;
  left: 52%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 3.7s linear infinite;
          animation: meteor 3.7s linear infinite;
}
.project_section .meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-8 {
  position: absolute;
  top: 57px;
  left: 91%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.5s linear infinite;
          animation: meteor 4.5s linear infinite;
}
.project_section .meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-9 {
  position: absolute;
  top: 260px;
  left: 84%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.2s linear infinite;
          animation: meteor 9.2s linear infinite;
}
.project_section .meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-10 {
  position: absolute;
  top: 176px;
  left: 76%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 6.1s linear infinite;
          animation: meteor 6.1s linear infinite;
}
.project_section .meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-11 {
  position: absolute;
  top: 222px;
  left: 42%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.1s linear infinite;
          animation: meteor 4.1s linear infinite;
}
.project_section .meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-12 {
  position: absolute;
  top: 223px;
  left: 79%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.2s linear infinite;
          animation: meteor 4.2s linear infinite;
}
.project_section .meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-13 {
  position: absolute;
  top: 230px;
  left: 13%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 6.6s linear infinite;
          animation: meteor 6.6s linear infinite;
}
.project_section .meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-14 {
  position: absolute;
  top: 128px;
  left: 70%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.8s linear infinite;
          animation: meteor 9.8s linear infinite;
}
.project_section .meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
.project_section .meteor-15 {
  position: absolute;
  top: 216px;
  left: 97%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #20afff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.4s linear infinite;
          animation: meteor 4.4s linear infinite;
}
.project_section .meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(32, 175, 255, 0.7);
  box-shadow: 0 0 15px 3px #20afff;
}
@-webkit-keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.services_section {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.services_section .services_wrapper {
  margin: 80px auto;
  width: 320px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}
.services_section .services_wrapper .services_container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(-360deg) translateZ(-300px);
  -webkit-animation: animate 30s steps(10000, end) infinite;
          animation: animate 30s steps(10000, end) infinite;
}
.services_section .services_wrapper .services_container .services_item {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 150px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_section .services_wrapper .services_container .services_item h1 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  background-color: #20afff;
  flex: 1;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-align: center;
  padding: 30px 10px;
  text-align: center;
  padding-top: 55px;
  border-radius: 0 0 20px;
}
.services_section .services_wrapper .services_container .services_item h2 {
  font-family: "Poppins", sans-serif;
  flex: 1;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px;
  color: #1e1b1b;
  justify-items: center;
  align-items: center;
}
.services_section .services_wrapper .services_container .services_item_0 {
  transform: rotateY(0deg) translateZ(300px);
}
.services_section .services_wrapper .services_container .services_item_1 {
  transform: rotateY(60deg) translateZ(300px);
}
.services_section .services_wrapper .services_container .services_item_2 {
  transform: rotateY(120deg) translateZ(300px);
}
.services_section .services_wrapper .services_container .services_item_3 {
  transform: rotateY(180deg) translateZ(300px);
}
.services_section .services_wrapper .services_container .services_item_4 {
  transform: rotateY(240deg) translateZ(300px);
}
.services_section .services_wrapper .services_container .services_item_5 {
  transform: rotateY(300deg) translateZ(300px);
}
@-webkit-keyframes animate {
  from {
    transform: rotateY(-360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes animate {
  from {
    transform: rotateY(-360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.contact_section {
  padding-bottom: 50px;
  flex-direction: column;
}
.contact_section h2,
.contact_section h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  padding: 5%;
}
.contact_section h2 span,
.contact_section h2 a,
.contact_section h4 span,
.contact_section h4 a {
  color: #3354ff;
}
.contact_section h4 {
  font-size: 1rem;
  margin-top: 20px;
}

@media (min-width: 990px) {
  .container {
    overflow: hidden;
  }
  nav {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  nav .switch_container .menu-icon {
    display: none;
  }
  ul.active,
ul.inactive {
    display: flex;
    z-index: 10;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header,
.project_section,
.about_section {
    padding-left: 20%;
    padding-right: 20%;
  }
  .project_section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header {
    flex-direction: row;
  }
  .header .hero_description {
    align-items: flex-start;
    margin-top: 50px;
  }
  .header .hero_description .title h1,
.header .hero_description .title h2 {
    padding-top: 0;
    text-align: left;
    font-weight: 500;
  }
  .header .hero_description .title h2 {
    font-weight: 400;
    opacity: 0.8;
  }
  .header .hero_description .title .hero_options {
    display: flex;
    padding: 20px;
    padding-left: 0;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
  }
  .about_section {
    flex-wrap: wrap;
  }
  .about_section .title_container {
    width: 100%;
  }
  .about_section .left {
    flex: 2;
    padding-right: 30px;
    align-self: flex-start;
    margin-top: 30px;
  }
  .about_section .left .description_container {
    margin-right: 50px;
  }
  .about_section .left .tech_container,
.about_section .left .socials_container {
    justify-content: flex-start;
  }
  .about_section .left .tech_container h1,
.about_section .left .socials_container h1 {
    text-align: left;
    padding-left: 0;
  }
  .about_section .experience_container h1 {
    text-align: left;
  }
}/*# sourceMappingURL=styles.css.map */