@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600&display=swap');
/*color*/
$hover-red: rgb(202, 82, 82);
$light-blue : #20AFFF;
$contrast-blue: #0029FF;


@mixin  for-tablet {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin  for-laptop {
    @media (min-width: 990px) {
        @content;
    }
}
@mixin  for-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
    max-width: 2000px;
  }

h3{
    padding: 20px;
    font-weight: 400;
    cursor: pointer;
    color: $light-blue;
    z-index: 100;
}
.container{
    overflow: hidden;
}
/* navbar*/
nav{
    display: flex;
    flex-direction: column;
    position: relative;

    .logo{
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .switch_container{
        display: flex;
        align-items: center;
        z-index: 2;
        color: $light-blue;
        position: sticky;
        h3{
            width: fit-content;
           
        }

        .menu-icon{
            position: absolute;
            right: 2em;
            svg{
                font-size: 1.2rem;
            }
        }
    }
    
    ul{
        padding: 0;
        width: 250px;
   
        li{
            list-style: none;
            font-size: 1.2rem;
            padding: 20px; 
            padding-left: 5px;
            cursor: pointer; 
            //color: $light-blue;
            span{
                color: $light-blue;
                opacity: 0;
            }  
            a{
                color: $light-blue;
                text-decoration: none;
            }
    
        }
        li:hover{
            color: $light-blue;
            span{
                opacity: 1;
            }
        }
    }

        //socials
    .socials_container{
        display: flex;
        margin-left: 1em;
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        
        a{
            text-decoration: none;
            color: $light-blue;
            margin-right: 10px;
            svg{
                font-size: 1.3rem;
                opacity: .7;
            }
        }
        a:hover{
            svg{
                opacity: 1;
            }
        }
    }
  
}
.inactive{
    display:none;
}
ul.active{
    display: initial;
    
}
/*header*/
.header{
    // min-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .hero_section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-top: 50px;
        padding-top: 10px;
        flex: 1;
        padding-bottom: 10px;
        
        img{
            max-width: 350px;
        }
      
    }
    .hero_description{
        flex: 1;
        .title{
          
            h1{
                padding: 20px;
                font-weight: 500;
                text-align: center;
                font-size: 1.7rem;
               
            }
            h2{
                padding: 20px;
                padding-top: 0;
                font-weight: 400;
                opacity: .8;
                font-size: 1.3rem;
                text-align: center;
            }
            .hero_options{
                display: flex;
                padding: 20px;
            //    flex-direction: column;
                align-items: center;
                justify-content: center;
                button, .call_btn{
                    width: fit-content;
                    font-size: 1rem;
                    background-color: $light-blue;
                    opacity: .8;
                    color: black;
                    border: none;
                    font-family: 'Varela Round', sans-serif;
                    padding: 1em;
                    font-weight: 400;
                    letter-spacing: 1px;
                    border-radius: 5px;
                    text-align: center;  
                }
                button:hover{
                    opacity: 1;
                }
                .call_btn{
                    background-color: aliceblue;
                    margin-left: 10px;
                    border: $light-blue solid 1px;
                }
            }
        }
        .project_summary{
            display: flex;
            align-items: center;
            flex-direction: column;
            .project_summary_container{
                display: none;
            }
            h1{
                padding: 20px;
                font-weight: 500;
                text-align: center;
                font-size: 1.7rem;
            }
            button{
                    width: fit-content;
                    font-size: 1rem;
                    background-color: $light-blue;
                    opacity: .8;
                    color: black;
                    border: none;
                    font-family: 'Varela Round', sans-serif;
                    padding: 1em;
                    font-weight: 400;
                    letter-spacing: 1px;
                    border-radius: 5px;
                    text-align: center;
                    margin-bottom: 50px;
                    margin-top: 30px;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
}

//about section
.about_section{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .description_container,.title_container{
        h1, h2, h3{
            font-weight: 400;
            text-align: left;
            padding: 0;
            //padding-top: 20px;
            text-align: justify;
            line-height: 25px;
            span{
                color: $light-blue;
            }
        }
        h1{
            font-size: 2rem;
            //padding: 30px;
            opacity: .8;
        }
        h2{
            font-size: 1.2rem;
            padding-top: 20px;
            font-weight: 400;
        }
        h3{
            font-size: 1rem;
        }
    }

    .tech_container{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        h1{
            width: 100%;
            padding-bottom: 30px;
            font-weight: 400;
            font-size: 2rem;
            text-align: left;
            padding-top: 30px;
            opacity: .8;
            span{
                color: $light-blue;
            }
        }
        .tech_img_container{
            width: 80px;
            height: 80px;
            margin: 5px;
            border-radius: 5px;
            background-color: #f3f7fa;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                margin: 10px;
                width: 50px;    
            }
        }
        .tech_img_container:hover{
            transform: scale(1.2);
            transition-duration: .3s;
            overflow: hidden;
        }
     
    }

    .experience_container{
        margin: 0;
        width: 100%;
       
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        h1{
            font-weight: 400;
            text-align: left;
            padding: 0;
            //padding-top: 20px;
            text-align: left;
            line-height: 25px;
            font-size: 2rem;
            opacity: .8;
            margin-bottom: 30px;
            margin-top: 30px;
            align-self: flex-start;
            span{
                color: $light-blue;
            }
        }
        .experience{
            position: relative;
            height: 170px;
            max-width: 350px;
            .exp_content{
                border-radius: 3px;
              background-color: #f3f7fa;
              color: black;   
              padding: 10px;
              height: fit-content;
              min-height: 120px;
              h1,h2{
                padding: 0;
                margin: 0;
              }
              h1{
                font-size: 1.3rem;
                font-weight: 500;
                
              }
              h2{
                font-size: 1rem;
                font-weight: 300;
                margin-top: 5px;
              }
            }

            h3{
                position: absolute;
                bottom: 5px;
                font-weight: 500;
                font-size: 1.2rem;
                opacity: .8;
                right: 3px;
                padding-right: 0;
            }
        }
        .experience:before{
            content: '';
            position: absolute;
            bottom: 0;
            top: 0;
            left: calc(50% + 6px);
            z-index: -9;
            width: 3px;
            background-color: $light-blue;
            
        }
        .experience:after{
            content: '';
            border-radius: 50%;
            background-color: #f3f7fa;
            position: absolute;
            border: 5px solid $light-blue;
            left: 50%;
            height: 5px;
            bottom: 0;
           
            width: 5px;
            animation: blinker 3s linear infinite;
            
        }
        @keyframes blinker {
            50% {
              opacity: 0;
            }
          }
    }
}

//project_section
.project_section, .contact_section{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
        h1, h2, h3{
            font-weight: 400;
            text-align: center;
            padding: 0;
            padding-top: 10px;
            line-height: 25px;
            span, a{
                color: $light-blue;
            }
        }
        h1{
            font-size: 1.7rem;
            width: 100%;
            padding: 20px;
            opacity: .8;
        }
        h2{
            font-size: 1.2rem;
        }
        h3{
            font-size: 1rem;
        }
        h4{
            padding: 20px;
            font-weight: 400;
        }

        .project{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            margin: 20px 10px;
            overflow: hidden;
            max-width: 350px;
            min-height: 300px;
            background-image: linear-gradient(#f3f7fa, white);
            border-radius: 5px;
            
            img{
                
                width: 100%;
                height: 250px;
                overflow: hidden;
                transform: scale(1);
                padding: 10px;
            } 
        }
        .overlay {
            position: absolute;
            transition:  .2s ease-in;
            opacity: 0;
            font-family: 'Poppins', sans-serif;
            padding: 0px 20px;
            //border-right: 4px solid rgb(202, 82, 82);
            font-family: 'Poppins', sans-serif;
            background-image: linear-gradient(#f0f0f0, $light-blue);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 1.2rem;
                padding: 10px;
                padding-bottom: 0;
            }
            h2{
                font-size: 1rem;
                span{
                    color: $contrast-blue
                }
                
            }
            button{
                
                font-size: 1rem;
                width: fit-content;
                background-color: #20233D;
                opacity: .8;
                margin-top: 20px;
                border: none;
                font-family: 'Varela Round', sans-serif;
                padding: 10px;
                font-weight: 400;
                letter-spacing: 1px;
                border-radius: 5px;
                text-align: center; 
                
                a{
                    color: #f3f7fa;
                    text-decoration: none;
                } 
            }
            button:hover{
                opacity: 1;
            }

        }
          
        .project:hover .overlay {
            opacity: 1;
        }
          
        .overlayLeft{
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            backdrop-filter: saturate(70%) blur(30px);
            color: black;
        }
          
        .project:hover .overlayLeft{
         width: 100%;
        }
}

//service section
.services_section{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
    background-color: black;
    position: static;
    .services_container{
        padding: 20px;
        margin: 15px;
        background-color: #f3f7fa;
        border-radius: 5px;
        min-width: 350px;
        max-width: 350px;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 20;
        h1{
            font-size: 1.2rem;
            color: black;
            opacity: .8;
            padding: 10px;
        }
        h2{
            color: black;
        }
    }
    h1, h2, h3{
        font-weight: 400;
        text-align: center;
        padding: 0;
        padding-top: 10px;
        line-height: 25px;
        span,a{
            color: $light-blue;
        }
    }
    h1{
        font-size: 1.7rem;
        width: 100%;
        padding: 30px;
        color: #f3f7fa;
        opacity: .8;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
}

//contact
.contact_section{
    padding-bottom: 50px;
    flex-direction: column;
    
}

//footer
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 1em;
    h1{
        font-size: .9rem;
        font-weight: 400;
        color: $light-blue;
    }
}


@include for-laptop{
    .container{
       
        overflow: hidden;
        .project_section{
            z-index: 2;
        }
    }
    nav{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: row;
        align-items: center;
       justify-content: space-between;
        .switch_container{
            .menu-icon{
                display: none;
            }
        }
        .socials_container{
            display: flex;
            margin-left: 1em;
            position: relative;
            top: 0;
            a{
                text-decoration: none;
                color: $light-blue;
                margin-right: 10px;
                svg{
                    font-size: 1.3rem;
                    opacity: .7;
                }
            }
            a:hover{
                svg{
                    opacity: 1;
                }
            }
        }
    }
    ul.active, ul.inactive{
        margin-left: 50px;
        display: flex;
        z-index: 10;   
        width: fit-content; 
    }
    .header{
      //  min-height: 100vh;
        overflow-x: hidden;
        flex-direction: row;
        .hero_section{
          margin-top: 50px;
          justify-content: flex-start;
            img{
                margin-top: 30px;
                max-width: 350px;
                margin-left: 20px;
            }
          
        }
        .hero_description{
            padding-right: 50px;
            margin-top: 30px;
            .title{
                h1{
                    text-align: left;
                    font-size: 2rem;
                }
                h2{
                  text-align: left;
                }
                .hero_options{
                    
                    justify-content: flex-start;
                }
                
            }
            .project_summary{
                align-items: flex-start;
                .project_slider{
                    display: none;
                }
                .project_summary_container{
                    display: flex;
                    width: 100%;
                    margin-left: 20px;
                    img{
                        max-width: 350px;
                        margin-right: 10px;
                        
                    }
                    img:hover{
                        transform: scale(1.1);
                        transition-delay: 1s;
                        transition: all ease 1s;
                    }
                }
                h1{
                    text-align: center;
                    font-size: 2rem;
                }
                button{
                    background-color:transparent;  
                    margin-left: 5px;    
                    margin-top: -5px; 
                    color: $light-blue;
                    a{
                        color: $light-blue;
                        text-decoration: none;
                    }
                }
                button:hover{
                    opacity: 1;
                }
            }
        }
    }
    .about_section, .project_section, .services_section, .contact_section{
        padding: 3%;
        padding-top: 0;
        padding-bottom: 50px;
        overflow-x: hidden !important;position: relative;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 5rem;
            padding: 50px;
        }
        .description_container{
            flex: 6;
            h1{
                font-size: 5rem;
                padding: 50px;
            }
        }
        .tech_container{
            flex: 6;
            h1{
                font-size: 3rem;
            }
        }
    }
    .services_section{
        z-index: 0;
    }
    .about_section{
      flex-wrap: wrap;
      flex-direction: row;
    
        .title_container{
            width: 100%;
            margin: 0;
            margin-top: 50px;
          
            h1{
                font-size: 5rem;
                //padding: 30px;
                opacity: .8;
            }
            h2{
                font-size: 1.3rem;
                margin: 30px 0;
            }  
        }

        .description_container{
            width: 50%;  
            margin-right: 5%;
        }
    
        .tech_container{
           width: 50%;
           h1{
            font-size: 2rem;
           }
        }
    
        .experience_container{
          display: flex;
          margin-top: 50px;
          h1{
            align-self: center;
          }
            
            .experience{
              //  align-self: flex-start;
                position: relative;
                height: 170px;
                max-width: 500px;
               
                .exp_content{
                    min-width: 500px;
                  box-shadow: 0 2px 2px $light-blue;
            }
        }
    }
}
}